<!DOCTYPE html>
<head>
	<title>This is my partial _header</title>
</head>

<body>
<% if(!username ){ %>
<label for="username">Username:</label>
<form method="POST" action="/login">
	<input type="text" name="username">
	<button type="submit">Log in</button>
</form>
<% } %>

<% if (username){ %>
	Logged in as : <%= username %>
	<form method="POST" action="/logout">
		<button type="submit">Logout</button>
</form>
<% } %>
</body>
</html>


<!-- if() -->


<!-- <p><%= username %></p> -->