<!DOCTYPE html>
<head>
	<title>This is my partial _header</title>
</head>

<body>

<h1>TinyApp</h1>

<% if(!user_id){ %>
<a href="/register">Register / </a>
<a href="/login">Login</a>
<% } %>

<% if (users_id){ %>
	Logged in as : <%= user.email %>
	<form method="POST" action="/logout">
		<button type="submit">Logout</button>
</form>
<% } %>
</body>
</html>



